extends layout

block content
  section.main
    .attendance
      .attendance-list
        h1 MOVIMIENTOS
        .headers
          a(href=`/agregarTransaccion/Gasto`, class='link-a gastos')
            i(class='material-symbols-rounded') payments
            |Agregar Gasto
          a(href=`/agregarTransaccion/Ingreso`, class='link-a ingresos')
            i(class='material-symbols-rounded') payments
            |Agregar ingreso
        .row
          .col.col-4
            .circular.ingresos
              i(class='material-symbols-rounded') monitoring
            p Balance
            p $500
          .col.col-4
            .circular.ingresos
              i(class='material-symbols-rounded') payments
            p Ingresos totales
            p $1000
          .col.col-4
            .circular.gastos
              i(class='material-symbols-rounded') payments
            p Gastos totales
            p $500
      if data.length > 0
          table.table
            thead
              tr
                th Descripcion
                th total 
                th fecha 
                th categoria 
                th metodo pago 
                th nota 
                th etiquetas
                th 
            tbody
              each item in data 
                    tr
                      td #{item.Descripcion}
                      td #{item.Total}
                      td #{item.Fecha}
                      td #{item.CategoriaID}
                      td #{item.MetodoPagoID}
                      td #{item.Nota}
                      td #{item.Etiquetas}
                        a(href=``, class='link-a') editar